:root {
    --b: black;
    --left: 48;
    --pociskleft: 46;
    --bottom: 0;
}

body {
    margin:0;
    overflow-x:hidden;
    background-color: var(--b);
    font-family: 'Press Start 2P';
    color: white;
}



h1, h2 {
    font-family: "Press Start 2P", sans-serif;

}



h1 {
    font-size:3rem;
}

#gura {
    width:80%;
    height:80%;
    padding:10%;
    padding-top:20%;
    padding-bottom:15%;
    margin-top:auto;
    margin:auto;
}

.active {
    content:"";
}

.skillwrapper {
    position:relative;
    height:90vh;
}
footer {
    padding:10rem;
    padding-top:10rem;
    padding-bottom:1rem;
    margin:auto;
}



@keyframes projektwejscie {
    0% { left:100vw; }
    100% { left:0vw; }
}

.footertext {
    margin:4rem;
}

li img {
    height:20vh;
    margin:auto;
    filter: brightness(0%) invert(100%);
}

li:hover img {
    transition:0.2s;
    filter:brightness(100%);

}

a {
    text-decoration:none;
    color:white;
}

footer a {
    text-decoration: underline;
}
#skile {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
        letter-spacing: 2px;
        grid-gap:5rem;
    margin:auto;
    width:80vw;
    margin-bottom:10vh;
}

#skile li {
    display:block;
    text-transform: uppercase;
    position: relative;
    margin:auto;
    transform:none;
    height:1rem;

}

#hitcounter {
    float:right;
    margin:2rem;
}
.wybuchgif {
    height:auto;
    filter: brightness(0%) invert(100%);
}
#works {
    list-style-type: none;
    display: grid;
    position:relative;
    width:80%;
    grid-template-columns: repeat(3, 1fr);
    letter-spacing: 2px;
    grid-auto-rows:repeat(auto-fill, 5rem);
    margin:auto;
}

#works li {
    position:relative;
    text-align:center;
    color:white;
    margin:auto;
    margin-bottom:10rem;

}

#works li a {
    color:white;
}

#magdakolko {
    height:10vh;
    width:10vh;
    border:solid 1rem red;
    border-radius:100%;
    filter: brightness(0%) invert(100%);
}

li:hover a #magdakolko {
    filter:brightness(100%);
    transition:0.2s;
}

.description {
    display:none;
    width:15vw;
    position:absolute;
    top:0;
    z-index:420;
    text-align:justify;
}

.guurka {
    padding:10rem;
    padding-top:1rem;
    margin:auto;
}

#works li:hover .description {
    display:block;
}

/*gierka*/

#dzialo {
    position:absolute;
    left:calc(var(--left) * 1%);
    width:4vw;
    height:5vh;
    background-color:white;
    bottom:0;
    display:none;
}

.pocisk {
    position:absolute;
    background-color:white;
    width:1rem;
    height:1rem;
}

/*projekty*/

#projekt {
    width:100vw;
    height: 100vh;
    left:0;
    animation: projektwejscie 0.5s ease-in;
    background-color:white;
    position:fixed;
    z-index:600;
}

#projekt nav {
    position:absolute;
    width:6.2rem;
    height:100vh;
    background-color:var(--b);
    margin:auto;
}

#projekt nav button {
    display:block;
    background-color:var(--b);
    color:white;
    border:none;
    margin:auto;
    padding:2rem;
    font-size:2rem;
    font-family: "Press Start 2P", sans-serif;
    transition:0.2s;
    cursor: pointer;
}

#projekt nav #dolne {
    position:absolute;
    bottom:0;
    width:100%;
}

#projekt nav button:hover {
    transform:scale(1.1);
}

#projekt main {
    position:absolute;
    width:85vw;
    right:0;
    height:100vh;
    color:black;
    margin:2rem;
    overflow:scroll;
    scrollbar-width:none;
    font-family: 'Inconsolata', monospace, sans-serif;
    font-size:1rem;
}

#projekt main::-webkit-scrollbar {
    display:none;
}


#imgcontainer {
    position: relative;
    top:0;
    width:80vw;
}

#imgcontainer img {
    max-width:100%;
    margin:auto;
    margin-bottom:2rem;
    display:block;
}


#mapa0 {
    position: relative;
    top:0;
    filter: opacity(0%);
    transition:0.2s;
    z-index: 601;
}

#imgcontainer:hover #mapa0 {
    display: block;
    filter:opacity(100%);
}

#mapa1 {
    position:absolute;
    top: 0;
    width:100%;
    z-index: 602;
}

#gkmlogo {
    width:40%; 
    margin:auto;
    display: block;
}
